<div class="container">
  <div class="titulo">
    <h3>Habilidades</h3>
  </div>
  <div class="row text-center">
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <circle-progress
        [title]="'Java'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="40"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"     
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'JavaScript'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="30"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"       
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'Php'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="30"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"      
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'Html'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="60"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"      
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'Spring'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="50"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"       
      ></circle-progress>
    </div>

    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'React'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="40"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"        
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'JPA'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="40"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"      
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'JDBC'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="40"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"      
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'MySQL'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="50"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"       
      ></circle-progress>
    </div>
    <div class="col-sm-4 col-6 col-md-3 col-lg-2">
      <circle-progress
        [title]="'CSS'"
        [showTitle]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="50"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8C0327'"
        [outerStrokeGradientStopColor]="'#A64B63'"
        [innerStrokeColor]="'#A5A6A1'"
        [outerStrokeGradient]="true"       
      ></circle-progress>
    </div>
  </div>
</div>
