  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="../../../assets/retrato.png" class="img-fluid rounded-circle" alt=""/>  
        </div>      
    </div>
    <div class="card">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <h1 id="nombre">{{persona.nombre}} {{persona.apellido}} </h1>
                <h3>Full Stack Developer Jr</h3>            
            </div>

            <div id="about" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h4 class="fw-normal ">Acerca de mi</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquam
                    unde deleniti? Deserunt, in libero neque reiciendis ipsum fugiat, ad
                    itaque quod fuga consequatur distinctio consequuntur sed molestias hic
                    ullam?orem, ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquam
                    unde deleniti? Deserunt, in libero neque reiciendis ipsum fugiat, ad
                    itaque quod fuga consequatur distinctio consequuntur sed molestias hic
                    ullam?
                </p>
            </div>
        </div>
    </div>
</div>  
  


