<div class="px-6 py-5 my-5 text-center">  
  <div class="col-lg-4 mx-auto border rounded-3">     
    <img class="d-block mx-auto mb-4" src="../../../assets/APlogo.png" alt="">
    <h1 class="display-6 fw-bold">Ingreso</h1>
    <form class="p-4">
      <hr class="my-4">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="btn" type="submit">Ingresar!</button>
      <hr class="my-4">     
    </form>   
  </div>
</div>