<div class="container">
    <div class="titulo">
        <h3>Experiencia laboral</h3>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Trabajo 1</h4>
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non sint quae repellendus impedit alias pariatur ipsum, repudiandae reiciendis similique nulla beatae tempore rerum ipsam maxime earum nobis molestiae aliquid a..</p>
            <p class="fw-lighter fs-6">2021  Bajo Cero Helados</p>
        </blockquote>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Trabajo 2</h4>
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non sint quae repellendus impedit alias pariatur ipsum, repudiandae reiciendis similique nulla beatae tempore rerum ipsam maxime earum nobis molestiae aliquid a..</p>
            <p class="fw-lighter fs-6">2021  Bajo Cero Helados</p>
        </blockquote>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Trabajo 3</h4>
        </div>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non sint quae repellendus impedit alias pariatur ipsum, repudiandae reiciendis similique nulla beatae tempore rerum ipsam maxime earum nobis molestiae aliquid a..</p>
            <p class="fw-lighter fs-6">2021  Bajo Cero Helados</p>
        </blockquote>
        </div>
    </div>
</div>